@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');
html {
    background-color:#1F2933;
    background-color: #FF9466;
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    margin: 8px auto;
    padding: 60px 100px 100px;
    width: 980px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.4;
    color: #212833;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100px;
    padding-left: 290px;
}
/**
 * Use border-box to inlude padding and border in item width.
 */
* {
    box-sizing: border-box;
}

/**
 * Style for page controller multipage
 */
.wrap-main {
    overflow: auto;
}

main {
    width: 60%;
    /* float: left; */
    min-height: 20em;
}


p {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 1.4rem; /* 1rem * 1.4 */
    text-align: center;
}

a {
    font-family: 'Libre Franklin', sans-serif;
    color: #212833;
    font-size: 1rem;
    line-height: 1.4;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 1.4rem; /* 1rem * 1.4 */
}

.neon {
    text-align: center; font-family: 'Warnes', cursive; color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px
    #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFB088, 0 0 20px
    #FFB088, 0 0 25px #FFB088, 0 0 30px #FFB088, 0 0 35px #FFB088;
}

.guessField {
    width: 200px;
    background-color: #FFE8D9;
    height: 38px;
    border-color: #FF9466;
    margin-bottom: 15px;
    color: #FF9466;
    text-align: center;
}

.guessField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E4C59;
    opacity: 1; /* Firefox */
    /* font-weight: bold; */
    font-style: italic;
    text-align: center;
}

.guessBtn {
    width: 200px;
    background-color: #FFE8D9;
    height: 38px;
    border-color: #FF9466;
    color: #3E4C59;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.guessBtn:hover {
    background-color: #3E4C59;
    color: #FFE8D9;
}


.restartBtn {
    width: 200px;
    background-color: #FF9466;
    height: 38px;
    border-color: #FFE8D9;
    color: #FFE8D9;
    font-weight: bold;
    border-radius: 6px;
    border: 3px solid;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.restartBtn:hover {
    background-color: #FFE8D9;
    color: #3E4C59;
    border-color: #FF9466;
}

.cheatBtn {
    width: 200px;
    background-color: #FF9466;
    height: 38px;
    /* border-color: #FFF; */
    color: #fff;
    /* font-weight: bold; */
    text-decoration: underline;
    /* border-radius: 6px; */
    /* border: 2px solid; */
    margin-bottom: 15px;
    border: 0px;
}

/* .cheatBtn:hover {
    background-color: #FFE8D9;
    color: #3E4C59;
} */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}



/* .neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
} */


/* unvisited link */
a:link {
    color: #b320e8;
}

/* visited link */
a:visited {
    color: #4b0082;
}

/* mouse over link */
a:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #1e1e1e;
}

/* selected link */
a:active {
    color: #00f;
}

pre {
    white-space: pre-wrap;
}


.start {
    width: 400px;
    margin-bottom: 40px;
}

.article {
    float: right;
    margin-bottom: 40px;
    margin-left: 20px;
}

.article-maggy {
    float: right;
    margin-bottom: 40px;
    margin-left: 20px;
}

.site-header {
    overflow: auto; /* clear fix to make div span all elements */
    color: inherit;
    margin-bottom: 4rem;
}

.site-header img {
    float: left;
    height: 100px;
}

.site-title {
    display: block;
    padding-top: 20px;
    padding-left: 40px;
    overflow: auto;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 0;
}

.site-slogan {
    display: block;
    padding-left: 40px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    overflow: auto;
}

.navbar {
    padding: 1em;
}

.navbar .selected {
    color: #fff;
    background-color: #1e1e1e;
}

.navbar a {
    color: #b320e8;
    display: inline-block;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.9rem;
    padding: 0.5em 1em;
    text-decoration: none;
}

.navbar a:hover {
    color: #fff;
    background-color: #1e1e1e;
    text-decoration: underline;
}

.site-footer {
    clear: both;
    text-align: center;
    padding-top: 60px;
    font-size: 8px;
}

.site-footer p {
    font-size: 11px;
}

.site-footer a {
    font-size: 11px;
}

.multipage .selected {
    color: #fff;
    background-color: #1e1e1e;
}

.author {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    font-style: italic;
}

.byline {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    font-style: italic;
}

/**
 * responsive
 */
@media (max-width: 1160px) {
    body {
        width: auto;
    }

    .navbar {
        padding: 1em;
        clear: both;
    }
}


@media (max-width: 980px) {
    .me {
        width: 300px;
        float: left;
        margin-bottom: 40px;
    }

    .start {
        width: 90%;
        margin-bottom: 40px;
    }

    .article {
        width: 100%;
        margin: 40px 20px 40px 0;
        float: none;
    }

    .article-maggy {
        width: 100%;
        float: left;
        clear: both;
        margin-left: 0;
        margin-right: 20px;
    }
}

@media (max-width: 830px) {
    .container {
        padding-left: 45px;
    }

    .site-header {
        clear: both;
        overflow: auto;
        color: inherit;
        margin: 0;
    }

    .site-header img {
        clear: both;
        width: 100px;
        margin: 0;
    }

    .site-title {
        display: block;
        padding-top: 2px;
        padding-left: 0;
        overflow: auto;
        font-size: 1.4rem;
        margin-top: 0;
        width: 100%;
    }

    .site-slogan {
        display: block;
        padding-left: 0;
        margin-bottom: 15px;
        font-size: 0.8rem;
        overflow: auto;
        width: 100%;
    }

    .navbar {
        padding: 1em;
        float: left;
        width: 100%;
    }

    .wrap-main {
        overflow: visible;
    }

    main {
        width: 100%;
        float: left;
        min-height: 20em;
    }

    article {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }

    .navbar-sub {
        width: 300px;
        float: left;
        background-color: #fff;
        margin-right: 20px;
        margin-left: 16px;
        margin-bottom: 10px;
        padding-right: 20px;
    }

    img {
        clear: both;
        width: 90%;
    }
}

@media (max-width: 500px) {
    body {
        margin: 8px auto;
        padding: 10px;
    }

    html {
        font-size: 112.5%;
    }

    main {
        min-height: 10em;
    }

    h1,
    h2,
    h4 {
        margin-top: 0;
        color: #212833;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    p {
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a {
        margin-bottom: 1rem; /* 1rem * 1.4 */
    }

    .navbar a {
        color: #b320e8;
        display: inline-block;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 0.9rem;
        padding: 0.5em 1em;
        text-decoration: none;
    }

    .navbar a:hover {
        color: #fff;
        background-color: #1e1e1e;
        text-decoration: underline;
    }

    .navbar .selected {
        color: #fff;
        background-color: #1e1e1e;
    }

    .author {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 0.8rem;
        font-style: italic;
    }
}
